.admin-delete-industry-cell {
  cursor: pointer;
  text-decoration: underline;
  transition: 0.3s;
}

.admin-delete-industry-cell:hover {
  background-color: #a0a0a0;
}

.admin-edit-industry-cell {
  cursor: pointer;
  text-decoration: underline;
  background-color: #f7d149;
  transition: 0.3s;
}

.admin-edit-industry-cell:hover {
  background-color: #f0aa42;
}

.admin-industry-add-btn {
  margin-bottom: 20px;
}

#admin-industry-disabled {
  background-color: #6d6d6d;
}

.admin-industry-heading {
  margin-top: 20px;
}

.admin-industry-mask-gross-margin {
  width: 106px;
}

.admin-industry-mask-industry {
  width: 52px;
}

.admin-industry-mask-op-margin {
  width: 131px;
}

.admin-industry-table {
  width: 80%;
  text-align: center;
  border-collapse: collapse;
  border: 3px solid black;
}

.admin-industry-table td {
  border: 1px solid black;
  padding: 10px;
}

.admin-industry-table th {
  border: 3px solid black;
}

.admin-industry-table tr:nth-child(even) {
  background-color: #dddddd;
}