.profile-center {
  padding-left: 10px;
}

.profile-list-container {
  max-width: 325px;
  text-align: left;
}

.profile-personal-details-container {
  margin-bottom: 40px;
}

.profile-text {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.user-info {
  list-style-type: none;
}

.user-spacing {
  margin-bottom: 20px;
}