* {
  margin: 0;
  padding: 0;
  line-height: 1em;
  outline: none;
}

body {
  margin: 30px;
  background-color: #757070;
}

p, span, div, h1, h2, h3, label, button {
  font-family: "Open Sans Condensed", sans-serif;
}

.arrow-left {
  position: absolute;
  top: 300px;
  left: 20px;
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid white;
  cursor: pointer;
  transition: 0.3s;
}

.arrow-left:hover {
  top: 290px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 40px solid #f0aa42;
}

.arrow-right {
  position: absolute;
  top: 300px;
  right: 20px;
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid white;
  cursor: pointer;
  transition: 0.3s;
}

.arrow-right:hover {
  top: 290px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #f0aa42;
}

.circle-btn {
  font-size: 1.4em;
  text-transform: uppercase;
  background-color: #f7d149;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 1px 3px grey;
  cursor: pointer;
  transition: 0.3s;
}

.circle-btn:hover {
  box-shadow: 1px 5px 6px grey;
  background: #f7d149 radial-gradient(circle, transparent 1%, #f0aa42 1%) center/15000%;
  transition: background 0s, box-shadow 0.3s;
}

.circle-btn:active {
  box-shadow: 0 8px 10px grey;
  background-color: #f0aa42;
  background-size: 100%;
  transition: 0.3s;
}

.circle-btn-inactive {
  font-size: 1.4em;
  text-transform: uppercase;
  background-color: #b1a57c;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 1px 3px grey;
  cursor: pointer;
  transition: 0.3s;
}

.close-window-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  float: right;
  font-size: 26px;
  border-radius: 50%;
  width: 20px;
}

.data-result {
  border: 4px solid black;
  padding: 10px;
  margin-top: 20px;
  width: 50%;
}

.data-result-heading {
  text-decoration: underline;
  margin-bottom: 10px;
}

.dropdown {
  height: 30px;
  width: 160px;
  margin: 0 auto;
}

.main-container {
  background-color: white;
  box-shadow: 5px 5px 10px #272727;
  padding: 20px;
  border-radius: 25px;
  height: 100%;
  width: 80%;
}

.main-heading {
  text-decoration: underline;
  margin-bottom: 20px;
}

.modal-btn-container {
  margin: 20px;
}

.modal-container {
  padding: 20px;
}

.modal-heading {
  margin-top: 20px;
  text-align: left;
}

.modal-input {
  margin: 5px;
}

.normal-btn {
  font-size: 0.9em;
  text-transform: uppercase;
  background-color: #f7d149;
  height: 30px;
  width: 100px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 1px 3px grey;
  cursor: pointer;
  transition: 0.3s;
}

.normal-btn:hover {
  box-shadow: 1px 5px 6px grey;
  background: #f7d149 radial-gradient(circle, transparent 1%, #f0aa42 1%) center/15000%;
  transition: background 0s, box-shadow 0.3s;
}

.normal-btn:active {
  box-shadow: 0 8px 10px grey;
  background-color: #f0aa42;
  background-size: 100%;
  transition: 0.3s;
}

.text-field {
  position: relative;
  height: 30px;
  width: 160px;
  margin: 0 auto;
  font-size: 0.8em;
  border: 1px solid grey;
  border-radius: 4px;
  transition: 0.3s;
}

.text-field:hover {
  border: 1px solid #f0aa42;
}

.text-field:focus {
  border: 3px solid #f0aa42;
}

.text-field:focus + .text-field-label {
  color: #f0aa42;
  font-size: 0.8em;
}

.text-field-active {
  border: 3px solid #000;
}

.text-field-active:hover {
  border: 3px solid #f0aa42;
}

.text-field-active + .text-field-label {
  color: black;
  font-size: 0.8em;
}

.text-field-label {
  position: relative;
  color: lightgrey;
  order: -1;
  padding-left: 5px;
  transition: all 0.3s ease-in;
  pointer-events: none;
  z-index: 1;
}

.text-field-mask {
  position: relative;
  top: -36px;
  left: 128px;
  height: 4px;
  background-color: #FFF;
}





.progressbar-container {
  width: 600px;
  margin: 100px auto; 
}
.progressbar {
  counter-reset: step;
}
.progressbar li {
  font-family: "Open Sans Condensed", sans-serif;
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 0.9em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: #f7d149;
}
.progressbar li.active:before {
  border-color: #55b776;
}
.progressbar li.active + li:after {
  background-color: #55b776;
}