* {
  margin: 0;
  padding: 0;
  line-height: 1em;
  outline: none;
}

body {
  margin-top: 30px;
  background-color: #757070;
  height: 100vh;
}

p, span, div, h1, h2, h3, label, button {
  font-family:'Century Gothic','Futura',san-serif;
}

#root {
  position: relative;
  height: 100vh;
}

.align-left {
  text-align: left;
}

.arrow-left {
  position: absolute;
  top: 350px;
  left: 20px;
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid white;
  cursor: pointer;
  transition: 0.3s;
}

.arrow-left:hover {
  top: 340px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 40px solid #f0aa42;
}

.arrow-right {
  position: absolute;
  top: 350px;
  right: 20px;
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid white;
  cursor: pointer;
  transition: 0.3s;
}

.arrow-right:hover {
  top: 340px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #f0aa42;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

.checkbox-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container input[type="checkbox"]:checked ~ .checkbox-check {
  background-color: #f7d149;
  transition: 0.2s;

}

.checkbox-container input[type="checkbox"]:checked ~ .checkbox-check:after {
  display: block;
}

.checkbox-container:hover input[type="checkbox"] ~ .checkbox-check {
  background-color: #f0aa42;
  transition: 0.2s;
}

.checkbox-container .checkbox-check:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox-check {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox-check:after {
  content: "";
  position: absolute;
  display: none;
}

.circle-btn {
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #f7d149;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 1px 3px grey;
  cursor: pointer;
  transition: 0.3s;
}

.circle-btn:hover {
  box-shadow: 1px 5px 6px grey;
  background: #f7d149 radial-gradient(circle, transparent 1%, #f0aa42 1%) center/15000%;
  transition: background 0s, box-shadow 0.3s;
}

.circle-btn:active {
  box-shadow: 0 8px 10px grey;
  background-color: #f0aa42;
  background-size: 100%;
  transition: 0.3s;
}

.circle-btn-inactive {
  font-size: 1.4em;
  text-transform: uppercase;
  background-color: #b1a57c;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 1px 3px grey;
  cursor: pointer;
  transition: 0.3s;
}

.close-window-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  float: right;
  font-size: 26px;
  border-radius: 50%;
  width: 20px;
}

.data-result {
  background-color: #f7d149;
  border: 4px solid black;
  border-radius: 25px;
  padding: 10px;
  margin-top: 20px;
  width: 70%;
}

.data-result-heading {
  text-decoration: underline;
  margin-bottom: 10px;
}

.dropdown {
  height: 30px;
  width: 160px;
  margin: 0 auto;
}

.main-container {
  background-color: white;
  box-shadow: 5px 5px 10px #272727;
  padding: 20px;
  border-radius: 25px;
  height: 100%;
  width: 80%;
  max-width: 900px;
}

.main-heading {
  text-decoration: underline;
  margin-bottom: 20px;
}

.max-width-container {
  max-width: 400px;
}

.modal-btn-container {
  margin: 20px;
}

.modal-container {
  padding: 20px;
}

.modal-heading {
  margin-top: 20px;
  text-align: left;
}

.modal-input {
  margin: 5px;
}

.normal-btn {
  font-size: 0.9em;
  text-transform: uppercase;
  background-color: #f7d149;
  height: 30px;
  width: 100px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 1px 3px grey;
  cursor: pointer;
  transition: 0.3s;
}

.normal-btn:hover {
  box-shadow: 1px 5px 6px grey;
  background: #f7d149 radial-gradient(circle, transparent 1%, #f0aa42 1%) center/15000%;
  transition: background 0s, box-shadow 0.3s;
}

.normal-btn:active {
  box-shadow: 0 8px 10px grey;
  background-color: #f0aa42;
  background-size: 100%;
  transition: 0.3s;
}

.question-text {
  font-size: 2.3em;
}

.radio-btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  transition: 0.2s;
}

.radio-btn:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  margin: 20px 0;
  cursor: pointer;
  font-size: 1.3em;
}

.radio-container input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-container input[type="radio"]:checked ~ .radio-btn {
  background-color: #f7d149;
}

.radio-container input[type="radio"]:checked ~ .radio-btn:after {
  display: inline-block;
}

.radio-container:hover input[type="radio"] ~ .radio-btn {
  background-color: #f0aa42;
}

.radio-container:hover input[type="radio"] ~ .radio-btn {
  background-color: #f7d149;
}

.radio-container .radio-btn:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f0aa42;
}

.results-question-container {
  border: 1px solid black;
  border-radius: 25px;
}

.results-text {
  font-size: 1.3em;
  margin-top: 30px;
}

.text-field {
  position: relative;
  height: 30px;
  width: 160px;
  padding-left: 6px;
  margin: 0 auto;
  font-size: 0.8em;
  border: 1px solid grey;
  border-radius: 4px;
  transition: 0.3s;
}

.secondary-btn {
  font-size: 0.9em;
  text-transform: uppercase;
  background-color: #d6d6d6;
  border-radius: 4px;
  border: 2px outset black;
  box-shadow: 0 1px 3px grey;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.secondary-btn:hover {
  box-shadow: 1px 5px 6px grey;
  background: #d6d6d6 radial-gradient(circle, transparent 1%, #a3a3a3 1%) center/15000%;
  transition: background 0s, box-shadow 0.3s;
}

.secondary-btn:active {
  box-shadow: 0 8px 10px grey;
  background-color: #a3a3a3;
  background-size: 100%;
  transition: 0.3s;
}

.text-field:hover {
  border: 1px solid #f0aa42;
}

.text-field:focus {
  border: 3px solid #f0aa42;
}

.text-field:focus + .text-field-label {
  color: #f0aa42;
  font-size: 0.8em;
  transform: translate(5px, 6px);
}

.text-field-active {
  border: 3px solid #000;
}

.text-field-active:hover {
  border: 3px solid #f0aa42;
}

.text-field-active + .text-field-label {
  color: black;
  font-size: 0.8em;
  transform: translate(5px, 6px);
}

.text-field-container {
  width: 166px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.text-field-label {
  position: relative;
  color: lightgrey;
  order: -1;
  padding-left: 5px;
  transition: all 0.3s ease-in;
  pointer-events: none;
  transform: translate(3px, 23px);
  z-index: 1;
}

.text-field-mask {
  position: relative;
  top: -36px;
  left: 7px;
  height: 4px;
  background-color: #FFF;
}

.tooltip-background {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: #f7d149;
  border-radius: 50%;
  cursor: help;
  z-index: 0;
}

.tooltip-background .tooltip-text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: -8px;
  bottom: 40px;
  width: 200px;
  padding: 7px;
  background-color: #f7d149;
  border-radius: 10px;
  z-index: 2;
  cursor: default;
  transition: 0.2s;
}

.tooltip-background .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 30px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #f7d149;
}

.tooltip-background:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}

.tooltip-background-radio {
  text-align: left;
  transform: translate(230px, -47px);
}

.tooltip-background-textfield {
  transform: translate(178px, -37px);
}

.tooltip-icon {
  position: relative;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  top: 5px;
  left: 10px;
  z-index: -1;
}