.admin-edit-user-cell {
  cursor: pointer;
  text-decoration: underline;
  background-color: #f7d149;
  transition: 0.3s;
}

.admin-edit-user-cell:hover {
  background-color: #f0aa42;
}

.admin-user-heading {
  margin-top: 20px;
}

.admin-user-mask-company {
  width: 58px;
}

.admin-user-mask-confirm-password {
  width: 109px;
}

.admin-user-mask-email {
  width: 36px;
}

.admin-user-mask-name {
  width: 73px;
}

.admin-user-mask-password {
  width: 61px;
}

.admin-user-mask-phone {
  width: 53px;
}

.admin-user-table {
  width: 80%;
  text-align: center;
  border-collapse: collapse;
  border: 3px solid black;
}

.admin-user-table td {
  border: 1px solid black;
  padding: 10px;
}

.admin-user-table th {
  border: 3px solid black;
}

.admin-user-table tr:nth-child(even) {
  background-color: #dddddd;
}

.slide-btn {
  position: absolute;
  right: 0;
  border: 1px solid black;
  top: -30px;
  height: 100vh;
  width: 320px;
}

.phone {
  min-width: 100px;
}