.img-2 {
  grid-area: img2;
}

.img-3 {
  grid-area: img3;
}

.n2 {
  grid-area: name2;
}

.n3 {
  grid-area: name3;
}

.heading {
  font-size: 2em;
  margin-top: 1em;
  text-decoration: underline;
}

.last-heading {
  color: #f0aa42;
  font-size: 1.6em;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.slide {
  color: #f0aa42;
  font-size: 1.6em;
  margin-top: 1em;
}

.slide-heading {
  position: relative;
  bottom: 85px;
  font-size: 3.8em;
  color: #f0aa42;
  border-bottom: 5px solid #f0aa42;
}

.slide-img {
  height: 250px;
  border-radius: 50%;
  box-shadow: 0 0 10px #f7d149;
}

.slide-img-name-container {
  display: grid;
  grid-template-areas:
    'img1 img2 img3 img4'
    'name1 name2 name3 name4';
  grid-gap: 50px;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
  justify-content: center;
}

.slide-logo {
  height: 200px;
  padding-right: 30px;
}

.slide-name {
  color: #f0aa42;
  font-size: 1.6em;
}

.list-li {
  margin-top: 10px;
  line-height: 30px;
  font-size: 20px;
}

.list-ul {
  margin: 30px;
  width: 650px;
  font-size: 1.2em;
  text-align: left;
}