.img-1 {
  grid-area: img1;
}

.img-2 {
  grid-area: img2;
}

.n1 {
  grid-area: name1;
}

.n2 {
  grid-area: name2;
}

.slide2-img {
  height: 350px;
  border-radius: 50%;
  box-shadow: 0 0 10px #f0aa42;
  margin: 0 50px;
}

.slide2-img-name-container {
  display: grid;
  grid-template-areas:
    'img1 img2'
    'name1 name2';
  grid-gap: 50px;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
  justify-content: center;
}

.slide2-name {
  color: #f7d149;
  font-size: 1.8em;
}