.lever-main-container {
  background-color: white;
  box-shadow: 5px 5px 10px grey;
  padding: 20px;
  border-radius: 25px;
  height: 100%;
  width: 80%;
}

.lever-main-heading {
  text-decoration: underline;
  margin-bottom: 20px;
}

.lever-mask-direct-cost {
  width: 53px;
}

.lever-mask-indirect-cost {
  width: 60px;
}

.lever-mask-revenue {
  width: 39px;
}

.lever-label-direct-cost {
  transform: translate(-47px, 23px);
}

.lever-label-indirect-cost {
  transform: translate(-41px, 23px);
}

.lever-label-revenue {
  transform: translate(-53px, 23px);
}

.lever-result {
  border: 4px solid black;
  padding: 10px;
  margin-top: 20px;
  width: 50%;
}

.lever-result-heading {
  text-decoration: underline;
  margin-bottom: 10px;
}

.lever-text-field-container {
  width: 400px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.lever-text-field-direct-cost, .lever-text-field-indirect-cost, .lever-text-field-revenue {
  left: 120px;
}

.lever-text-field-direct-cost:focus + .lever-label-direct-cost {
  color: #f0aa42;
  font-size: 0.8em;
  transform: translate(-48px, 7px);
}

.lever-text-field-indirect-cost:focus + .lever-label-indirect-cost {
  color: #f0aa42;
  font-size: 0.8em;
  transform: translate(-44px, 7px);
}

.lever-text-field-revenue:focus + .lever-label-revenue {
  color: #f0aa42;
  font-size: 0.8em;
  transform: translate(-55px, 7px);
}