.list-li {
  margin-top: 80px;
}

.list3-li {
  margin-top: 30px;
  list-style: none;
}

.list-slide-main-container {
  margin: 30px;
}

.list-ul {
  margin: 100px;
  width: 410px;
  color: #f7d149;
  font-size: 2.2em;
  text-align: left;
}

.list2-ul {
  margin: 60px;
  width: 510px;
  color: #f7d149;
  font-size: 2.2em;
  text-align: left;
}