.toggle-btn-container {
  margin: 20px;
}

.toggle-btn-main-container {
  margin: 30px 0;
}

.toggle-btn-main-wrapper {
  margin-top: 40px;
}

.toggle-btn-text-container {
  max-width: 360px;
  text-align: left;
}