.register-brand-name {
  position: relative;
  bottom: 35px;
  font-size: 2.6em;
}

.register-cancel-btn {
  margin: 15px;
  border: none;
  font-size: 0.9em;
  text-transform: lowercase;
  background-color: #fff;
  cursor: pointer;
}

.register-container {
  background-color: white;
  box-shadow: 5px 5px 10px grey;
  padding: 20px;
  border-radius: 25px;
  height: 600px;
  width: 400px;
}

.register-dropdown {
  margin-top: 10px;
}

.register-hr {
  width: 80%;
}

.register-logo {
  height: 100px;
}

.register-mask-company {
  width: 45px;
}

.register-mask-confirm-password {
  width: 80px;
}

.register-mask-email {
  width: 30px;
}

.register-mask-name {
  width: 32px;
}

.register-mask-password {
  width: 45px;
}

.register-mask-phone {
  width: 43px;
}

.register-register-btn {
  margin-top: 40px;
  margin-bottom: 15px;
}