.price-label-product-cost {
  transform: translate(-43px, 23px);
}

.price-label-product-price {
  transform: translate(-40px, 23px);
}

.price-mask-product-cost {
  width: 57px;
}

.price-mask-product-price {
  width: 61px;
}

.price-text-field-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.text-field-active + .price-label-product-cost {
  transform: translate(-46px, 7px);
}

.text-field-active + .price-label-product-price {
  transform: translate(-44px, 7px);
}

.price-text-field-product-cost:focus + .price-label-product-cost {
  transform: translate(-46px, 7px);
}

.price-text-field-product-price:focus + .price-label-product-price {
  transform: translate(-44px, 7px);
}