.login-brand-name {
  position: relative;
  bottom: 135px;
  font-size: 2.6em;
}

.login-container {
  background-color: white;
  box-shadow: 5px 5px 10px grey;
  padding: 20px;
  border-radius: 25px;
  height: 600px;
  width: 400px;
}

.login-email-mask {
  width: 30px;
}

.login-hr {
  width: 80%;
}

.login-login-btn {
  margin-top: 100px;
  margin-bottom: 30px;
}

.login-logo {
  height: 100px;
  margin-bottom: 100px;
}

.login-password-mask {
  width: 46px;
}

.login-register-btn {
  margin: 30px;
  border: none;
  font-size: 0.9em;
  text-transform: lowercase;
  background-color: #fff;
  cursor: pointer;
}

.login-text-field-radio-container {
  padding-top: 10px;
}



.radio-btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  transition: 0.3s;
}

.radio-btn:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  font-size: 1.3em;
}

.radio-container input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-container input[type="radio"]:checked ~ .radio-btn {
  background-color: #f7d149;
}

.radio-container input[type="radio"]:checked ~ .radio-btn:after {
  display: inline-block;
}

.radio-container:hover input[type="radio"] ~ .radio-btn {
  background-color: #f0aa42;
}

.radio-container .radio-btn:after {
  top: 6px;
 left: 6px;
 width: 8px;
 height: 8px;
 border-radius: 50%;
 background: #f0aa42;
}