.login-brand-name {
  position: relative;
  bottom: 135px;
  font-size: 2.6em;
}

.login-container {
  background-color: white;
  box-shadow: 5px 5px 10px grey;
  padding: 20px;
  border-radius: 25px;
  height: 600px;
  width: 400px;
}

.login-email-mask {
  width: 30px;
}

.login-hr {
  width: 80%;
}

.login-label-email {
  transform: translate(-60px, 23px);
}

.login-label-password {
  transform: translate(-50px, 23px);
}

.login-login-btn {
  margin-top: 100px;
  margin-bottom: 30px;
}

.login-logo {
  height: 100px;
  margin-bottom: 100px;
}

.login-password-mask {
  width: 45px;
}

.login-register-btn {
  margin: 30px;
  border: none;
  font-size: 0.9em;
  text-transform: lowercase;
  background-color: #fff;
  cursor: pointer;
}

.login-text-field-container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.login-text-field-email, .login-text-field-password {
  left: 120px;
}

.login-text-field-email:focus + .login-label-email {
  color: #f0aa42;
  font-size: 0.8em;
  transform: translate(-60px, 6px);
}

.login-text-field-password:focus + .login-label-password {
  color: #f0aa42;
  font-size: 0.8em;
  transform: translate(-52px, 6px);
}