.admin-price-edit-div {
  display: flex;
  flex-wrap: nowrap;
}

.admin-price-map-flex-container {
  width: 475px;
}

.admin-price-tooltip {
  padding-left: 90px;
}

.admin-price-q {
  padding-right: 110px;
}